body{
    background-color: rgb(121, 91, 15);
    color:lightblue;
    text-align: center;
}
input{
    background-color: black;
    padding-top:20px;
    font-size: large;

color:white;
}
label{
    font-size: large;
    padding-top:35px
}
button{
    border: none;
    border-radius: 3px;
    color:white;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding:10px 30px;
    margin:25px;
}
button:hover{
    border: none;
    border-radius: 3px;
    color:black;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding:10px 30px;
    margin:25px;
}
.opcje{
background-color: black;
color:white;
border:none;
border-radius:4px;
padding:10px 15px
}
.opcje:hover{
    background-color: white;
color:black;
border:none;
border-radius:4px;
padding:10px 15px
}

form{
    background-color: rgb(53, 53, 53);
    margin-top:100px;
    width:30%;
    height:45%;
    text-align: center;
    padding-top:40px;
    margin-left:600px;
    border-radius: 12px;
}
.Imie{
    width:50%
}
.Nazwisko{
    width:50%
}
.Mail{
    width:50%
}
.Telefon{
    width:50%
}
.Pass{
    width:50%
}
.plec{
    margin:12px;
    
}